/*-----------------*/
/*      GLOBAL     */
/*-----------------*/
    /*Go top*/
    .goTop{
        position: fixed;
        z-index: 3;
        bottom: 27px;
        right: 38px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: #000000;
        color: #FFFFFF;
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
    }

    .container{
        width: 90%;
        margin: 0 auto;
    }

    /*Title*/
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;
        text-transform: capitalize;
    }

    .title h3{
        font-size: 20px;
        color: #343A40;
        font-family: 'Jost', sans-serif;
        font-weight: 600;
    }

    .title h2{
        width: 550px;
        text-align: center;
        font-size: 48px;
        color: #343A40;
        font-family: 'Jost', sans-serif;
        font-weight: 500;
    }

    .title .underline{
        width: 99px;
        border: 2px solid #F89938;
    }




/*-----------------*/
/*     HEADER      */
/*-----------------*/
    header{
        width: 100vw;
        max-width: 100%;
        height: 100vh;
        min-height: 566px;
        max-height: 670px;
        background-image: url('../images/headerImage.png');
        background-position: center;
        background-size: cover;
        font-family: 'Jost', sans-serif;
    }

    /*Header Bar*/
    .headerBar{
        position: fixed;
        z-index: 3;
        width: 100%;
        height: 80px;
        padding: 0 140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        transition: 0.3s;
    }

    .headerBar__menu{
        display: flex;
    }

    .headerBar__menu li{
        margin-right: 15px;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
    }

    .headerBar__menu li a:hover,
    .selected {
        color: #C7C7C7;
    }

    /*Header Content*/
    .header__content{
        width: 100%;
        height: 100vh;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 240px;
        color: #FFFFFF;
    }

    .header__content h2{
        font-size: 20px;
        font-weight:300;
        letter-spacing: 6px;
    }
    
    .header__content h1{
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 17px;
        margin: 25px 0 35px 0;
    }
    
    .header__content .button{
        padding: 7px 40px;
        font-size: 16px;
        border: 2px solid #626262;
        background-color: transparent;
        color: #FFFFFF;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Jost', sans-serif;
        font-weight: 300;
    }
    
    .header__content .button:hover{
        background-color: #303030;
    }
    
    .header__content .button:nth-of-type(1){
        margin-right: 30px;
    }
    
    .goDown{
        position: relative;
        color: #F89938;
        font-size: 48px;
        margin-top: 55px;
        animation-name: goDawnAnimation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        cursor: pointer;
    }

    @keyframes goDawnAnimation {
        0%{
            top: 0;
        }
        50%{
            top: 10px;
        }
        100%{
            top: 0;
        }
    }



    
/*-----------------*/
/*      MAIN       */
/*-----------------*/
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 146px;
}

.about img {
    width: 400px;
    height: 430px;
    position: relative;
    z-index: 2;
    margin-right: 53px;
}

.about__content{
    padding-bottom: 50px;
    display: flex;
}

.about__content .content__desc{
    padding-top: 50px;
    width: 643px;
    font-size: 17px;
    color: #686868;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}

.about__content .content__info {
    margin-bottom: 15px;
    font-family: 'Jost', sans-serif;
    color: #686868;
}

.about__content .content__info b {
    color: #343A40;
}




/*-----------------*/
/*    SERVICES     */
/*-----------------*/
.services{
    padding-top: 146px;
}

.services__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box__serviceSinle{
    width: 350px;
    min-height: 175px;
    border: 1px solid #9E9E9E;
    border-radius: 3px;
    margin: 20px;
    padding: 30px;
}

.box__serviceSinle i {
    color: #343A40;
    font-size: 44px;
    margin-right: 20px;
}

.box__serviceSinle h4 {
    color: #343A40;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box__serviceSinle p{
    color: #696969;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}




/*-----------------*/
/*    FEEDBACKS    */
/*-----------------*/
.feedbacks{
    padding-top: 146px;
}

.feedbacks__box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feedbacks__feedbackSingle{
    width: 550px;
    min-height: 163px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    border: 1px solid #C2C2C2;
}

.feedbacks__feedbackSingle img{
    margin-right: 20px;
}

.feedbackSingle__info h4{
    font-size: 20px;
    color: #222429;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
} 

.feedbackSingle__info p{
    color: #696969;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    margin: 8px 0;
}

.stars{
    color: gray;
}

.starActive{
    color: #FFCC00;
}

.feedbacks__paginate{
    display: flex;
    justify-content: center;
}

.paginate__option{
    width: 22px;
    height: 10px;
    background-color: #BCBCBC;
    margin: 3px;
    cursor: pointer;
}

.paginate__option:hover,
.paginate__option--active{
    background-color: #343A40;;
}




/*-----------------*/
/*       CALL      */
/*-----------------*/
.call{
    width: 100%;
    height: 213px;
    margin: 179px 0;
    background-image: url('../images/call.png');
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.call h3{
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'Jost', sans-serif;
}

.contactButton{
    border: 2px solid #FFFFFF;
    background-color: transparent;
    font-family: 'Jost', sans-serif;
    border-radius: 40px;
    padding: 15px 25px;
    font-size: 17px;
}

.contactButton:hover{
    background-color: #131313;
}




/*-----------------*/
/*   PORTFOLIO     */
/*-----------------*/
.portfolio__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.portfolio__portfolioSingle{
    width: 355px;
    height: 219px;
    margin: 0 20px 150px 20px;
    border-radius: 5px;
    text-align: center;
}

.portfolio__portfolioSingle h4{
    color: #626262;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 5px;
}

.portfolioSingle__hover{
    display: none;
    width: 355px;
    height: 219px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    bottom: 257px;
    border-radius: 5px;
    text-align: center;
    line-height: 255px;
    font-size: 50px;
    color: #F89938;
    cursor: pointer;
}


/*-----------------*/
/*     FOOTER      */
/*-----------------*/
    .footer1{
        width: 100vw;
        max-width: 100%;
        background-image: url('../images/footerImage.png');
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 70px 170px;
        color: white;
        font-family: 'Jost', sans-serif;
    }

    .footer1 h4 {
        font-size: 35px;
        font-weight: 300;
        letter-spacing: 6px;
        margin-bottom: 20px;
    }

    .footer1 .info p {
        width: 338px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .social i{
        font-size: 20px;
        margin-right: 20px;
        background-color: #1E1E1E;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .social i:hover{
        background-color: #1c1c1c;
        color: #F89938;
    }

    .contactBox p {
        margin-bottom: 10px;
    }

    .contactBox i{
        margin-right: 10px;
        color: #F89938;
    }

    .footer2{
        width: 100vw;
        max-width: 100%;
        height: 71px;
        background-color: #090A0B;
        text-align: center;
        line-height: 71px;
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Jost', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
    }




/*-----------------*/
/*   MEDIA-QUERY   */
/*-----------------*/